# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# GitHub Discussions bot options
DISCUSSION_COMMAND_PREFIX=/glosc
DISCUSSION_API_TOKEN=
DISCUSSION_REPLY_ON_CREATED=true
DISCUSSION_WELCOME_BODY=
